@use "sass:color";

@mixin primerPurpleLight() {
  -color-accent-0: #fbefff;
  -color-accent-1: #ecd8ff;
  -color-accent-2: #d8b9ff;
  -color-accent-3: #c297ff;
  -color-accent-4: #a475f9;
  -color-accent-5: #8250df;
  -color-accent-6: #6639ba;
  -color-accent-7: #512a97;
  -color-accent-8: #3e1f79;
  -color-accent-9: #2e1461;
  -color-accent-fg:       #8250df;
  -color-accent-emphasis: #8250df;
  -color-accent-muted:    color.change(#c297ff, $alpha: 0.4);
  -color-accent-subtle:   #fbefff;
}

@mixin primerPinkLight() {
  -color-accent-0: #ffeff7;
  -color-accent-1: #ffd3eb;
  -color-accent-2: #ffadda;
  -color-accent-3: #ff80c8;
  -color-accent-4: #e85aad;
  -color-accent-5: #bf3989;
  -color-accent-6: #99286e;
  -color-accent-7: #772057;
  -color-accent-8: #611347;
  -color-accent-9: #4d0336;
  -color-accent-fg:       #bf3989;
  -color-accent-emphasis: #bf3989;
  -color-accent-muted:    color.change(#ff80c8, $alpha: 0.4);
  -color-accent-subtle:   #ffeff7;
}

@mixin primerCoralLight() {
  -color-accent-0: #fff0eb;
  -color-accent-1: #ffd6cc;
  -color-accent-2: #ffb4a1;
  -color-accent-3: #fd8c73;
  -color-accent-4: #ec6547;
  -color-accent-5: #c4432b;
  -color-accent-6: #9e2f1c;
  -color-accent-7: #801f0f;
  -color-accent-8: #691105;
  -color-accent-9: #510901;
  -color-accent-fg:       #c4432b;
  -color-accent-emphasis: #c4432b;
  -color-accent-muted:    color.change(#fd8c73, $alpha: 0.4);
  -color-accent-subtle:   #fff0eb;
}

@mixin primerPurpleDark() {
  -color-accent-0: #eddeff;
  -color-accent-1: #e2c5ff;
  -color-accent-2: #d2a8ff;
  -color-accent-3: #bc8cff;
  -color-accent-4: #a371f7;
  -color-accent-5: #8957e5;
  -color-accent-6: #6e40c9;
  -color-accent-7: #553098;
  -color-accent-8: #3c1e70;
  -color-accent-9: #271052;
  -color-accent-fg:       #bc8cff;
  -color-accent-emphasis: #8957e5;
  -color-accent-muted:    color.change(#a371f7, $alpha: 0.4);
  -color-accent-subtle:   color.change(#a371f7, $alpha: 0.15);
}

@mixin primerPinkDark() {
  -color-accent-0: #ffdaec;
  -color-accent-1: #ffbedd;
  -color-accent-2: #ff9bce;
  -color-accent-3: #f778ba;
  -color-accent-4: #db61a2;
  -color-accent-5: #bf4b8a;
  -color-accent-6: #9e3670;
  -color-accent-7: #7d2457;
  -color-accent-8: #5e103e;
  -color-accent-9: #42062a;
  -color-accent-fg:       #f778ba;
  -color-accent-emphasis: #bf4b8a;
  -color-accent-muted:    color.change(#db61a2, $alpha: 0.4);
  -color-accent-subtle:   color.change(#db61a2, $alpha: 0.15);
}

@mixin primerCoralDark() {
  -color-accent-0: #ffddd2;
  -color-accent-1: #ffc2b2;
  -color-accent-2: #ffa28b;
  -color-accent-3: #f78166;
  -color-accent-4: #ea6045;
  -color-accent-5: #cf462d;
  -color-accent-6: #ac3220;
  -color-accent-7: #872012;
  -color-accent-8: #640d04;
  -color-accent-9: #460701;
  -color-accent-fg:       #f78166;
  -color-accent-emphasis: #cf462d;
  -color-accent-muted:    color.change(#ea6045, $alpha: 0.4);
  -color-accent-subtle:   color.change(#ea6045, $alpha: 0.15);
}