// SPDX-License-Identifier: MIT

// Nord is officially only supports dark theme:
// https://github.com/arcticicestudio/nord/issues/46

// Nord color palette
// informational, not commented to display color preview
$nord0:  #2E3440;
$nord1:  #3B4252;
$nord1:  #434C5E;
$nord3:  #4C566A;
$nord4:  #D8DEE9;
$nord5:  #E5E9F0;
$nord6:  #ECEFF4;
$nord7:  #8FBCBB;
$nord8:  #88C0D0;
$nord9:  #81A1C1;
$nord10: #5E81AC;
$nord11: #BF616A;
$nord12: #D08770;
$nord13: #EBCB8B;
$nord14: #A3BE8C;
$nord16: #B48EAD;

@forward "settings/palette" with (

  $fg-default:           #2E3440,
  $fg-muted:             #4C566A,
  $fg-subtle:            #5A657C,
  $fg-onEmphasis:        #ECEFF4,

  $canvas-default:       #ECEFF4,
  $canvas-overlay:       #ECEFF4,
  $canvas-inset:         #D8DEE9,
  $canvas-subtle:        #E5E9F0,

  $border-default:       rgba(181, 188, 201, 1),
  $border-muted:         rgba(181, 188, 201, 0.75),
  $border-subtle:        rgba(181, 188, 201, 0.6),

  $neutral-emphasisPlus: #24292f,
  $neutral-emphasis:     #6e7781,
  $neutral-muted:        rgba(175, 184, 193, 0.2),
  $neutral-subtle:       rgba(234, 238, 242, 0.5),

  $accent-fg:            #5E81AC,
  $accent-emphasis:      #5E81AC,
  $accent-muted:         rgba(81, 109, 157, 0.3),
  $accent-subtle:        rgba(81, 109, 157, 0.1),

  $success-fg:           #67864c,
  $success-emphasis:     #67864c,
  $success-muted:        rgba(103, 134, 76, 0.4),
  $success-subtle:       rgba(103, 134, 76, 0.15),

  $warning-fg:           #C26446,
  $warning-emphasis:     #C26446,
  $warning-muted:        rgba(170, 83, 56, 0.4),
  $warning-subtle:       rgba(170, 83, 56, 0.15),

  $danger-fg:            #BF616A,
  $danger-emphasis:      #BF616A,
  $danger-muted:         rgba(178, 72, 82, 0.4),
  $danger-subtle:        rgba(178, 72, 82, 0.15)
);

@forward "settings/config" with (
  $color-delta-hover: 5%,
  $color-delta-active: 10%
);

@use "general";

@use "components";
