/* SPDX-License-Identifier: MIT */

.file-manager-showcase .bookmark-list .ikonli-font-icon {
    -fx-icon-size: 18px;
}

.file-manager-showcase .breadcrumbs >.divider {
    -fx-padding: 0;
}

.file-manager-showcase .table-directory-view .table-view {
    -color-header-bg: -color-bg-default;
    -color-cell-bg-selected: -color-accent-emphasis;
    -color-cell-fg-selected: -color-fg-emphasis;
}

/* setting opacity directly to the .table-cell or .table-row-cell
   leads to incorrect table row height calculation #javafx-bug */
.file-manager-showcase .table-row-cell:hidden >.table-cell > * {
    -fx-opacity: 0.6;
}
