// SPDX-License-Identifier: MIT

#color-scale {
  -fx-spacing: 20px;
  -fx-background-color: -color-bg-default; // mandatory base bg for flatten color calc


  >.table {
    >.column {
      >.cell {
        -fx-text-fill: -color-fg-default;
        -fx-font-size: 1.1em;
        -fx-padding: 0 0 0 10px;
      }
    }
  }
}