// SPDX-License-Identifier: MIT

#quick-config-menu {
  -fx-min-width: 200px;

  .row {
    -fx-padding: 6px;
    -fx-background-radius: 4px;
  }

  .action:hover {
    // FIXME: Not visible in some themes (subtle over subtle)
    -fx-background-color: -color-bg-subtle;
  }

  .radio>.ikonli-font-icon {
    visibility: hidden;
  }

  .radio:selected>.ikonli-font-icon {
    visibility: visible;
  }
}