// SPDX-License-Identifier: MIT

$color-wsag-bg-passed: #388e3c;
$color-wsag-bg-failed: #ef5350;
$color-wsag-fg:        white;

#color-palette {

  -fx-spacing: 20px;
  -fx-background-color: -color-bg-default; // mandatory base bg for flatten color calc

  >.grid {
    -fx-vgap: 20px;
    -fx-hgap: 40px;

    >.color-block {
      -fx-spacing: 5px;

      >.box {
        -fx-min-width: 12em;
        -fx-min-height: 5em;
        -fx-max-width: 12em;
        -fx-max-height: 5em;
        -fx-cursor: hand;

        &:passed>.wsag-label {
          -fx-background-color: $color-wsag-bg-passed;
        }

        >.wsag-label {
          -fx-text-fill: $color-wsag-fg;
          -fx-background-color: $color-wsag-bg-failed;
          -fx-background-radius: 6px;
          -fx-padding: 3px;

          >.ikonli-font-icon {
            -fx-fill: $color-wsag-fg;
            -fx-icon-color: $color-wsag-fg;
          }
        }
      }
    }
  }
}