// SPDX-License-Identifier: MIT

.sample-block {
  -fx-spacing: 1em;

  >.title {
    -fx-font-weight: bold;
  }
}

.popover .date-picker-popup {
  -color-dp-border: transparent;
  -color-dp-bg: transparent;
  -color-dp-day-bg: transparent;
  -color-dp-month-year-bg: transparent;
  -color-dp-day-bg-hover:  -color-bg-subtle;
}
