// SPDX-License-Identifier: MIT

.page {
  >.scroll-pane {
    -fx-background-color: -color-bg-default;

    // stack pane to center user content
    .user-content {
      -fx-padding: 40px 0 40px 0; // vertical paddings
      -fx-min-width: 860px; // horizontal paddings

      >* {
        // limit user content width
        -fx-min-width: 800px;
        -fx-max-width: 800px;
      }
    }
  }

  &.widget-collection {
    -fx-padding: 40px;
    -fx-min-width: 800px;
    -fx-max-width: 1200px;

    >.toc {
      -fx-pref-width: 150px;
      -color-cell-bg-selected: -color-cell-bg;
      -color-cell-fg-selected: -color-accent-fg;

      .list-cell {
        &:filled {
          -fx-border-width: 0 0 0 2;
          -fx-border-color: -color-border-muted;
        }
        &:selected {
          -color-cell-fg: -color-cell-fg-selected;
          -fx-border-color: -color-accent-emphasis;
        }
      }
    }
  }
}

.sample-block {
  -fx-background-color: -color-bg-default;
  -fx-effect: dropshadow(gaussian, -color-shadow-default, 10, 0.4, 0, 0);
  -fx-border-color: -color-border-muted;
  -fx-border-width: 1px;
  -fx-padding: 15px 20px 15px 20px;
  -fx-spacing: 20px;
  -fx-min-width: 220px;

  >.title {
    >.label {
      -fx-padding: 5px 15px 5px 10px;
      -fx-background-color: -color-accent-subtle;
      -fx-text-fill: -color-fg-default;
      -fx-font-size: 1.1em;
    }

    >.polygon {
      -fx-fill: -color-accent-muted;
    }
  }
}
