// SPDX-License-Identifier: MIT

.page {

  >.scroll-pane {
    -fx-background-color: -color-bg-default;

    >.viewport>*>.wrapper {
      -fx-min-width: 880px;
      -fx-alignment: TOP_CENTER;

      >.user-content {
        -fx-padding: 40px 0 40px 0;
        -fx-spacing: 40px;
        -fx-max-width: 800px;
      }
    }
  }
}