@mixin link-button() {
  -fx-icon-color: -color-fg-emphasis;
  -fx-fill: -color-fg-emphasis;
  -fx-icon-size: 20px;

  &:hover {
    -fx-effect: dropshadow(gaussian, -color-fg-emphasis, 20, 0.1, 0, 0)
  }
}

#main {
  .source-code {
    -fx-background-color: -color-bg-default;
    -fx-alignment: TOP_CENTER;

    >.code-viewer {
      -fx-background-color: transparent;
      -fx-padding: 0 0 0 20px;
      -fx-max-width: 1000px;

      .web-view {
        -fx-padding: 0;
        -fx-background-color: transparent;
      }
    }
  }
}

#header-bar {
  -fx-background-color: -color-accent-emphasis;
  -fx-padding: 0px 20px 0px 0;
  -fx-spacing: 30px;

  >.logo {
    -fx-padding: 0px 0 0px 10px;

    >.image {
      -fx-background-color:-color-success-emphasis;
      -fx-background-radius: 6px;
    }

    >.label {
      -fx-text-fill: -color-fg-emphasis;
    }

    >.version {
      -fx-padding: -1em 0 0 0;
    }
  }

  >.text-field {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-opacity: 0.85;

    -color-input-bg: -color-accent-emphasis;
    -color-input-bg-focused: -color-accent-emphasis;
    -color-input-fg: -color-fg-emphasis;
    -color-input-border: -color-fg-emphasis;
    -color-input-border-focused: -color-fg-emphasis;
    -fx-prompt-text-fill: -color-fg-emphasis;

    .ikonli-font-icon {
      -fx-icon-color: -color-fg-emphasis;
      -fx-fill: -color-fg-emphasis;
    }
  }

  >.search-button {
    -color-button-bg: -color-accent-emphasis;
    -color-button-fg: -color-fg-emphasis;
    -color-button-border: transparent;
    -color-button-bg-hover: -color-accent-6;
    -color-button-fg-hover: -color-fg-emphasis;
    -color-button-border-hover: transparent;
    -color-button-bg-focused: -color-accent-emphasis;
    -color-button-fg-focused: -color-fg-emphasis;
    -color-button-border-focused: transparent;
    -color-button-bg-pressed: -color-accent-emphasis;
    -color-button-fg-pressed: -color-fg-emphasis;
    -color-button-border-pressed: transparent;
    -color-button-shadow: transparent;

    -fx-padding: 6px 16px 6px 12px;

    >.box {
      >* {
        -fx-fill: -color-fg-emphasis;
      }

      >.label {
        -fx-text-fill: -color-fg-emphasis;
        -fx-border-color: -color-fg-emphasis;
        -fx-border-width: 1;
        -fx-padding: 2px 6px 2px 6px;
        -fx-opacity: 0.5;
      }
    }
  }

  >.page-title {
    -fx-text-fill: -color-fg-emphasis;
    -fx-padding: 0 0 0 30px;
  }

  >.ikonli-font-icon {
    @include link-button();
  }

  >.dev-mode-indicator {
    -fx-background-color: -color-warning-emphasis;
    -fx-text-fill: -color-fg-emphasis;
    -fx-background-radius: 10px;
    -fx-padding: 5px 10px 5px 10px;
  }
}

#sidebar {

  .nav-tree-cell {
    -fx-padding: 0;
    -fx-indent: 8px;
    -color-cell-bg: -color-bg-inset;
    -color-cell-bg-selected: -color-bg-inset;
    -color-cell-bg-selected-focused: -color-bg-inset;
    -fx-background-radius: 5px;

    >.tree-disclosure-node,
    >.tree-disclosure-node>.arrow {
      -fx-min-width: 0;
      -fx-pref-width: 0;
      -fx-max-width: 0;
      -fx-min-height: 0;
      -fx-pref-height: 0;
      -fx-max-height: 0;
      visibility: hidden;
    }

    >.container {
      -fx-min-height: 2.1em;
      -fx-pref-height: 2.1em;
      -fx-max-height: 2.1em;
      -fx-padding: 0 0 0 8px;
    }

    &:selected >.container >.title {
      -fx-font-weight: bold;
      -fx-text-fill: -color-accent-fg;
    }

    &:hover:filled {
      -color-cell-bg: -color-accent-subtle;
    }

    &:group {
      >.container {
        -fx-min-height: 2.5em;
        -fx-pref-height: 2.5em;
        -fx-max-height: 2.5em;
        -fx-padding: 0 0 0 8px;

        .ikonli-font-icon {
          -fx-fill: -color-accent-fg;
          -fx-icon-color: -color-accent-fg;
        }

        >.arrow {
          -fx-icon-code: mdal-expand_more;
        }
      }

      &:expanded>.container>.arrow {
        -fx-icon-code: mdal-chevron_right;
      }
    }
  }
}
