// SPDX-License-Identifier: MIT

#main {
  .source-code {
    -fx-background-color: -color-bg-default;
    -fx-alignment: TOP_CENTER;

    >.code-viewer {
      -fx-background-color: transparent;
      -fx-padding: 0 0 0 20px;
      -fx-max-width: 1000px;

      .web-view {
        -fx-padding: 0;
        -fx-background-color: transparent;
      }
    }
  }
}
