// SPDX-License-Identifier: MIT

.overlay {
  -fx-background-color: transparent;

  >.scroll-pane {
    >.viewport {
      >* {
        >.scrollable-content {
          -fx-background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.overlay-dialog {
  -fx-background-color: -color-bg-default;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-border-width: 1px;
  -fx-border-color: -color-border-default;

  >.header {
    -fx-padding: 10px 5px 5px 20px;
  }

  >.footer {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -color-border-default;
    -fx-padding: 10px 20px 10px 20px;
  }
}