// SPDX-License-Identifier: MIT

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url('../fonts/Inter/Inter-Black.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: italic, oblique;
  src: url('../fonts/Inter/Inter-BlackItalic.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url('../fonts/Inter/Inter-ExtraBold.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: italic, oblique;
  src: url('../fonts/Inter/Inter-ExtraBoldItalic.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url('../fonts/Inter/Inter-Bold.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic, oblique;
  src: url('../fonts/Inter/Inter-BoldItalic.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url('../fonts/Inter/Inter-SemiBold.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic, oblique;
  src: url('../fonts/Inter/Inter-SemiBoldItalic.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url('../fonts/Inter/Inter-Medium.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: italic, oblique;
  src: url('../fonts/Inter/Inter-MediumItalic.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url('../fonts/Inter/Inter-Regular.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: italic, oblique;
  src: url('../fonts/Inter/Inter-Italic.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url('../fonts/Inter/Inter-Light.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: italic, oblique;
  src: url('../fonts/Inter/Inter-LightItalic.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url('../fonts/Inter/Inter-ExtraLight.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-style: italic, oblique;
  src: url('../fonts/Inter/Inter-ExtraLightItalic.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url('../fonts/Inter/Inter-Thin.otf') format('truetype');
}

@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-style: italic, oblique;
  src: url('../fonts/Inter/Inter-ThinItalic.otf') format('truetype');
}