// SPDX-License-Identifier: MIT

@use "../settings/config" as cfg;
@use "../settings/effects";

@each $level,
$radius in cfg.$elevation {
  .elevated-#{$level} {
    @include effects.shadow(cfg.$elevation-color, $radius);
  }
}

.interactive:hover {
  @include effects.shadow(cfg.$elevation-color, cfg.$elevation-interactive);
}

.modal-pane>.scroll-pane>.viewport>*>.scrollable-content {
  -fx-background-color: rgba(0, 0, 0, 0.25);
}

///////////////////////////////////////////////////////////////////////////////
// BBCode                                                                    //
///////////////////////////////////////////////////////////////////////////////

.bb-code {
  .sub {
    -fx-translate-y: 0.3em;
  }

  .sup {
    -fx-translate-y: -0.3em;
  }

  .hr {
    -fx-border-color: -color-border-default;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    -fx-border-insets: 10px 0 10px 0
  }

  .code {
    -fx-font-family: monospace;
    -fx-border-color: -color-border-default;
    -fx-border-width: 1;
    -fx-background-color: -color-bg-subtle;
    -fx-padding: 0 3 0 3;
  }

  .abbr {
    -fx-border-color: -color-fg-default;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
  }
}

///////////////////////////////////////////////////////////////////////////////
// Ikonli                                                                    //
///////////////////////////////////////////////////////////////////////////////

.ikonli-font-icon.accent {
  -fx-fill: -color-accent-emphasis;
  -fx-icon-color: -color-accent-emphasis;
}

.ikonli-font-icon.success {
  -fx-fill: -color-success-emphasis;
  -fx-icon-color: -color-success-emphasis;
}

.ikonli-font-icon.warning {
  -fx-fill: -color-warning-emphasis;
  -fx-icon-color: -color-warning-emphasis;
}

.ikonli-font-icon.danger {
  -fx-fill: -color-danger-emphasis;
  -fx-icon-color: -color-danger-emphasis;
}

.ikonli-font-icon:accent {
  -fx-fill: -color-accent-emphasis;
  -fx-icon-color: -color-accent-emphasis;
}

.ikonli-font-icon:success {
  -fx-fill: -color-success-emphasis;
  -fx-icon-color: -color-success-emphasis;
}

.ikonli-font-icon:warning {
  -fx-fill: -color-warning-emphasis;
  -fx-icon-color: -color-warning-emphasis;
}

.ikonli-font-icon:danger {
  -fx-fill: -color-danger-emphasis;
  -fx-icon-color: -color-danger-emphasis;
}
