// SPDX-License-Identifier: MIT

$dark:      #1b1f24 !default; // hsl(213, 14.3, 12.4)
$light:     #ffffff !default; // hsl(0,   0,    100 )

$base-0:    #f6f8fa !default; // hsl(210, 28.6, 97.3)
$base-1:    #eaeef2 !default; // hsl(210, 23.5, 93.3)
$base-2:    #d0d7de !default; // hsl(210, 17.5, 84.3)
$base-3:    #afb8c1 !default; // hsl(210, 12.7, 72.2)
$base-4:    #8c959f !default; // hsl(212, 9,    58.6)
$base-5:    #6e7781 !default; // hsl(212, 7.9,  46.9)
$base-6:    #57606a !default; // hsl(212, 9.8,  37.8)
$base-7:    #424a53 !default; // hsl(212, 11.4, 29.2)
$base-8:    #32383f !default; // hsl(212, 11.5, 22.2)
$base-9:    #24292f !default; // hsl(213, 13.3, 16.3)

$accent-0:  #ddf4ff !default; // hsl(199, 100,  93.3)
$accent-1:  #b6e3ff !default; // hsl(203, 100,  85.7)
$accent-2:  #80ccff !default; // hsl(204, 100,  75.1)
$accent-3:  #54aeff !default; // hsl(208, 100,  66.5)
$accent-4:  #218bff !default; // hsl(211, 100,  56.5)
$accent-5:  #0969da !default; // hsl(212, 92.1, 44.5)
$accent-6:  #0550ae !default; // hsl(213, 94.4, 35.1)
$accent-7:  #033d8b !default; // hsl(214, 95.8, 27.8)
$accent-8:  #0a3069 !default; // hsl(216, 82.6, 22.5)
$accent-9:  #002155 !default; // hsl(217, 100,  16.7)

$success-0: #dafbe1 !default; // hsl(133, 80.5, 92  )
$success-1: #aceebb !default; // hsl(134, 66,   80.4)
$success-2: #6fdd8b !default; // hsl(135, 61.8, 65.1)
$success-3: #4ac26b !default; // hsl(137, 49.6, 52.5)
$success-4: #2da44e !default; // hsl(137, 56.9, 41  )
$success-5: #1a7f37 !default; // hsl(137, 66,   30  )
$success-6: #116329 !default; // hsl(138, 70.7, 22.7)
$success-7: #044f1e !default; // hsl(141, 90.4, 16.3)
$success-8: #003d16 !default; // hsl(142, 100,  12  )
$success-9: #002d11 !default; // hsl(143, 100,  8.8 )

$warning-0: #fff8c5 !default; // hsl(53, 100,   88.6)
$warning-1: #fae17d !default; // hsl(48, 92.6,  73.5)
$warning-2: #eac54f !default; // hsl(46, 78.7,  61.4)
$warning-3: #d4a72c !default; // hsl(44, 66.1,  50.2)
$warning-4: #bf8700 !default; // hsl(42, 100,   37.5)
$warning-5: #9a6700 !default; // hsl(40, 100,   30.2)
$warning-6: #7d4e00 !default; // hsl(37, 100,   24.5)
$warning-7: #633c01 !default; // hsl(36, 98,    19.6)
$warning-8: #4d2d00 !default; // hsl(35, 100,   15.1)
$warning-9: #3b2300 !default; // hsl(36, 100,   11.6)

$danger-0:  #ffebe9 !default; // hsl(5,   100,  95.7)
$danger-1:  #ffcecb !default; // hsl(3,   100,  89.8)
$danger-2:  #ffaba8 !default; // hsl(2,   100,  82.9)
$danger-3:  #ff8182 !default; // hsl(0,   100,  75.3)
$danger-4:  #fa4549 !default; // hsl(359, 94.8, 62.5)
$danger-5:  #cf222e !default; // hsl(356, 71.8, 47.3)
$danger-6:  #a40e26 !default; // hsl(350, 84.3, 34.9)
$danger-7:  #82071e !default; // hsl(349, 89.8, 26.9)
$danger-8:  #660018 !default; // hsl(346, 100,  20  )
$danger-9:  #4c0014 !default; // hsl(344, 100,  14.9)
