// SPDX-License-Identifier: MIT

$material-icons: (
  "arrow-double-right": "M5.06 5 4 6.06 7.94 10 4 13.94 5.06 15l5-5z M11 5 9.94 6.06 13.88 10l-3.94 3.94L11 15l5-5z",
  "arrow-drop-down":    "M7 10l5 5 5-5z",
  "arrow-drop-up":      "M7 14l5-5 5 5z",
  "arrow-left":         "M14 7l-5 5 5 5V7z",
  "arrow-right":        "M10 17l5-5-5-5v10z",
  "calendar":           "M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V10h16v11zm0-13H4V5h16v3z",
  "check":              "M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z",
  "chevron-left":       "M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z",
  "chevron-right":      "M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z",
  "close":              "M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z",
  "close-tab":          "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z",
  "expand-less":        "M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z",
  "expand-more":        "M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z",
  "minus":              "M 17,13 H 7 v -2 h 10 z",
  "minus-box":          "M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM7 11h10v2H7z",
  "more-vert":          "M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z",
  "pin":                "M15,10c-1.1,0-2-0.9-2-2V4h0.5C13.78,4,14,3.78,14,3.5C14,3.22,13.78,3,13.5,3h-7C6.22,3,6,3.22,6,3.5C6,3.78,6.22,4,6.5,4 H7v4c0,1.1-0.9,2-2,2v1h4.5v5.5L10,17l0.5-0.5V11H15V10z M7.23,10C7.71,9.47,8,8.77,8,8V4h4v4c0,0.77,0.29,1.47,0.77,2H7.23z",
  "plus":               "M 18,12.857142 H 12.857142 V 18 H 11.142858 V 12.857142 H 6 v -1.714284 h 5.142858 V 6 h 1.714284 v 5.142858 H 18 Z",
  "plus-box":           "M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zm-8-2h2v-4h4v-2h-4V7h-2v4H7v2h4z",
  "unfold-more":        "M12 5.83L15.17 9l1.41-1.41L12 3 7.41 7.59 8.83 9 12 5.83zm0 12.34L8.83 15l-1.41 1.41L12 21l4.59-4.59L15.17 15 12 18.17z",
);

@mixin get($id, $scale: true) {
  $shape: map-get($material-icons, $id);
  @if $shape== null { @error "Unknown icon ID = #{$id}."; }

  -fx-shape: $shape;
  -fx-scale-shape: $scale;
}
