// SPDX-License-Identifier: MIT

@use "sass:color";

// Muted color is used to emulate semi-transparent background
// (see data.scss, RGBA color).

$fg-default:           #24292f !default;
$fg-muted:             #57606a !default;
$fg-subtle:            #6e7781 !default;
$fg-onEmphasis:        #ffffff !default;

$canvas-default:       #ffffff !default;
$canvas-overlay:       #ffffff !default;
$canvas-inset:         #f6f8fa !default;
$canvas-subtle:        #f6f8fa !default;

$border-default:       #d0d7de !default;
$border-muted:         rgba(215, 221, 227, 1) !default;
$border-subtle:        rgba(27, 31, 36, 0.15) !default;

$neutral-emphasisPlus: #24292f !default;
$neutral-emphasis:     #6e7781 !default;
$neutral-muted:        rgba(175, 184, 193, 0.2) !default;
$neutral-subtle:       rgba(234, 238, 242, 0.5) !default;

$accent-fg:            #0969da !default;
$accent-emphasis:      #0969da !default;
$accent-muted:         rgba(84, 174, 255, 0.4) !default;
$accent-subtle:        #ddf4ff !default;

$success-fg:           #1a7f37 !default;
$success-emphasis:     #2da44e !default;
$success-muted:        rgba(74, 194, 107, 0.4) !default;
$success-subtle:       #dafbe1 !default;

$warning-fg:           #9a6700 !default;
$warning-emphasis:     #bf8700 !default;
$warning-muted:        rgba(212, 167, 44, 0.4) !default;
$warning-subtle:       #fff8c5 !default;

$danger-fg:            #cf222e !default;
$danger-emphasis:      #cf222e !default;
$danger-muted:         rgba(255, 129, 130, 0.4) !default;
$danger-subtle:        #FFEBE9 !default;

$chart-1: #f3622d !default;
$chart-2: #fba71b !default;
$chart-3: #57b757 !default;
$chart-4: #41a9c9 !default;
$chart-5: #4258c9 !default;
$chart-6: #9a42c8 !default;
$chart-7: #c84164 !default;
$chart-8: #888888 !default;

$chart-1-alpha70: color.change($chart-1, $alpha: 0.7) !default;
$chart-2-alpha70: color.change($chart-2, $alpha: 0.7) !default;
$chart-3-alpha70: color.change($chart-3, $alpha: 0.7) !default;
$chart-4-alpha70: color.change($chart-4, $alpha: 0.7) !default;
$chart-5-alpha70: color.change($chart-5, $alpha: 0.7) !default;
$chart-6-alpha70: color.change($chart-6, $alpha: 0.7) !default;
$chart-7-alpha70: color.change($chart-7, $alpha: 0.7) !default;
$chart-8-alpha70: color.change($chart-8, $alpha: 0.7) !default;

$chart-1-alpha20: color.change($chart-1, $alpha: 0.2) !default;
$chart-2-alpha20: color.change($chart-2, $alpha: 0.2) !default;
$chart-3-alpha20: color.change($chart-3, $alpha: 0.2) !default;
$chart-4-alpha20: color.change($chart-4, $alpha: 0.2) !default;
$chart-5-alpha20: color.change($chart-5, $alpha: 0.2) !default;
$chart-6-alpha20: color.change($chart-6, $alpha: 0.2) !default;
$chart-7-alpha20: color.change($chart-7, $alpha: 0.2) !default;
$chart-8-alpha20: color.change($chart-8, $alpha: 0.2) !default;