// SPDX-License-Identifier: MIT

@use "../settings/config" as cfg;
@use "../settings/effects";
@use "../settings/icons";

$color-bg:              -color-bg-default     !default;
$color-border:          -color-border-default !default;
$month-year-color-bg:   -color-bg-default !default;
$month-year-color-fg:   -color-fg-default !default;
$day-color-bg:          -color-bg-default !default;
$day-color-bg-hover:    -color-bg-subtle  !default;
$day-color-bg-selected: -color-accent-emphasis !default;
$day-color-fg:          -color-fg-default  !default;
$day-color-fg-hover:    -color-fg-default  !default;
$day-color-fg-selected: -color-fg-emphasis !default;
$week-color-bg:         -color-bg-default  !default;
$week-color-fg:         -color-accent-fg   !default;
$today-color-bg:        -color-accent-subtle  !default;
$today-color-fg:        -color-accent-fg   !default;
$other-month-color-fg:  -color-fg-muted    !default;
$chrono-color-fg:       -color-success-fg  !default;

$content-padding-x: 8px !default;
$content-padding-y: 8px !default;

$month-year-font-size: 1.1em !default;

$cell-padding-x: 4px !default;
$cell-padding-y: 8px !default;
$day-name-font-size: 0.9em !default;

// secondary chronology
$chrono-label-margin: 0.5em  !default;
$chrono-cell-size:    2.75em !default;
$chrono-cell-padding: 0.083333em $cell-padding-x 0.083333em 0.333333em !default;

@mixin _color-variables() {
  -color-dp-bg:              $color-bg;
  -color-dp-border:          $color-border;
  -color-dp-month-year-bg:   $month-year-color-bg;
  -color-dp-month-year-fg:   $month-year-color-fg;
  -color-dp-day-bg:          $day-color-bg;
  -color-dp-day-bg-hover:    $day-color-bg-hover;
  -color-dp-day-bg-selected: $day-color-bg-selected;
  -color-dp-day-fg:          $day-color-fg;
  -color-dp-day-fg-hover:    $day-color-fg-hover;
  -color-dp-day-fg-selected: $day-color-fg-selected;
  -color-dp-week-bg:         $week-color-bg;
  -color-dp-week-fg:         $week-color-fg;
  -color-dp-today-bg:        $today-color-bg;
  -color-dp-today-fg:        $today-color-fg;
  -color-dp-other-month-fg:  $other-month-color-fg;
  -color-dp-chrono-fg:       $chrono-color-fg;
}

.combo-box-base.date-picker {
  >.arrow-button {
    -fx-cursor: hand;

    >.arrow {
      @include icons.get("calendar", true);
      -fx-background-color: -color-fg-default;
      -fx-padding: 0.416667em; // icon size
    }
  }
}

.date-picker-popup {
  @include _color-variables();
  -fx-background-color: -color-dp-border, -color-dp-bg;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 0;
  -fx-alignment: CENTER;
  -fx-spacing: 0;
  -fx-padding: cfg.$border-width;

  >.month-year-pane {
    -fx-padding: $content-padding-y $content-padding-x $content-padding-y $content-padding-x;
    -fx-background-color: -color-dp-month-year-bg;
    -fx-background-insets: 0;

    // this one is actually HBox, but because of the class name it uses Spinner styles
    >.spinner {
      -fx-spacing: 4px;
      -fx-alignment: CENTER;
      -fx-fill-height: false;
      -fx-background-color: transparent;
      -fx-border-color: transparent;
      -fx-font-size: $month-year-font-size;

      >.button {
        -fx-background-color: transparent;
        -fx-background-insets: 0;
        -fx-background-radius: 0;
        -fx-cursor: hand;

        >.left-arrow {
          @include icons.get("chevron-left", false);
          -fx-background-color: -color-dp-month-year-fg;
        }

        >.right-arrow {
          @include icons.get("chevron-right", false);
          -fx-background-color: -color-dp-month-year-fg;
        }
      }

      >.label {
        -fx-alignment: CENTER;
        -fx-text-fill: -color-dp-month-year-fg;
      }
    }

    >.secondary-label {
      -fx-alignment: BASELINE_CENTER;
      -fx-padding:   $chrono-label-margin 0 0 0;
      -fx-text-fill: -color-dp-month-year-fg;
    }
  }

  >.calendar-grid {
    -fx-background-color: -color-dp-bg;
    -fx-padding: $content-padding-x;

    >.date-cell {
      -fx-background-color: transparent;
      -fx-padding: 0;
      -fx-alignment: BASELINE_CENTER;
      -fx-opacity: 1.0;
      -fx-text-fill: -color-dp-day-fg;
    }

    >.week-number-cell {
      -fx-padding: $cell-padding-y $cell-padding-x $cell-padding-y $cell-padding-x;
      -fx-background-color: -color-dp-week-bg;
      -fx-text-fill: -color-dp-week-fg;
      -fx-font-size: $day-name-font-size;
    }

    >.day-cell {
      -fx-padding: $cell-padding-y $cell-padding-x $cell-padding-y $cell-padding-x;
      -fx-background-color: -color-dp-day-bg;

      >.secondary-text {
        -fx-fill: -color-dp-chrono-fg;
      }

      &:disabled {
        -fx-opacity: cfg.$opacity-disabled;
      }
    }

    .day-name-cell {
      -fx-padding: $cell-padding-y $cell-padding-x $cell-padding-y $cell-padding-x;
      -fx-font-size: $day-name-font-size;
    }

    >.hijrah-day-cell {
      -fx-alignment: TOP_LEFT;
      -fx-padding: $chrono-cell-padding;
      -fx-cell-size: $chrono-cell-size;
    }

    >.today {
      -fx-background-color: -color-dp-today-bg;
      -fx-text-fill: -color-dp-today-fg;
      -fx-font-weight: bold;
    }
  }
}

.inline-date-picker {
  -fx-effect: none;

  >.month-year-pane {
    -fx-alignment: CENTER;
    -fx-spacing: 10px;

    >.button {
      -fx-background-color: transparent;
      -fx-background-insets: 0;
      -fx-background-radius: 0;
      -fx-cursor: hand;
    }

    >.back-button {
      >.left-arrow {
        @include icons.get("chevron-left", false);
        -fx-background-color: -color-dp-month-year-fg;
      }
    }

    >.forward-button {
      >.right-arrow {
        @include icons.get("chevron-right", false);
        -fx-background-color: -color-dp-month-year-fg;
      }
    }

    >.label {
      -fx-text-fill: -color-dp-month-year-fg;
      -fx-font-size: $month-year-font-size;
    }
  }

  &:disabled {
    >.calendar-grid {
      -fx-opacity: cfg.$opacity-disabled;

      // prevent opacity from being applied twice
      >.day-cell {
        &:disabled {
          -fx-opacity: 1.0;
        }
      }
    }
  }
}

.date-picker-popup>.calendar-grid>.selected,
.date-picker-popup>.calendar-grid>.selected>.secondary-text,
.date-picker-popup>.calendar-grid>.previous-month.selected,
.date-picker-popup>.calendar-grid>.next-month.selected {
  -fx-background-color: -color-dp-day-bg-selected;
  -fx-text-fill: -color-dp-day-fg-selected;
  -fx-fill: -color-dp-day-fg-selected;
  -fx-font-weight: normal;
}

.date-picker-popup>.calendar-grid>.day-cell:hover {
  -fx-background-color: -color-dp-day-bg-hover;
}

.date-picker-popup>.calendar-grid>.today:hover {
  -fx-background-color: -color-dp-today-bg;
  -fx-text-fill: -color-dp-today-fg;
}

.date-picker-popup>.calendar-grid>.selected:hover {
  -fx-background-color: -color-dp-day-bg-selected;
  -fx-text-fill: -color-dp-day-fg-selected;
  -fx-fill: -color-dp-day-fg-selected;
}

.date-picker-popup>.calendar-grid>.previous-month,
.date-picker-popup>.calendar-grid>.next-month,
.date-picker-popup>.calendar-grid>.previous-month.today,
.date-picker-popup>.calendar-grid>.next-month.today,
.date-picker-popup>.calendar-grid>.previous-month>.secondary-text,
.date-picker-popup>.calendar-grid>.next-month>.secondary-text {
  -fx-text-fill: -color-dp-other-month-fg;
  -fx-fill: -color-dp-other-month-fg;
  -fx-font-weight: normal;
}