// SPDX-License-Identifier: MIT

@use "../settings/config" as cfg;

.label {
  -fx-text-fill: -color-fg-default;

  &:disabled {
    -fx-opacity: cfg.$opacity-disabled;
  }

  &:show-mnemonics>.mnemonic-underline {
    -fx-stroke: -color-fg-default;
  }

  &.left-pill,
  &.center-pill,
  &.right-pill {
    -fx-padding: cfg.$padding-y cfg.$padding-x cfg.$padding-y cfg.$padding-x;
    -fx-background-color: -color-border-default, -color-bg-subtle;
    -fx-background-insets: 0, cfg.$border-width;
  }

  &.left-pill {
    -fx-background-radius: cfg.$border-radius 0 0 cfg.$border-radius;
  }

  &.center-pill {
    -fx-background-radius: 0;
  }

  &.right-pill {
    -fx-background-radius: 0 cfg.$border-radius cfg.$border-radius 0;
  }
}