// SPDX-License-Identifier: MIT

@use "../settings/config" as cfg;
@use "../settings/effects";

$color-bg:      -color-bg-overlay     !default;
$color-fg:      -color-fg-default     !default;
$color-border:  -color-border-default !default;
$padding-x:     10px !default;
$padding-y:     10px !default;

.popover {
  -fx-background-color: $color-bg;
  @include effects.shadow(-color-shadow-default, cfg.$popup-shadow-radius, cfg.$popup-shadow-spread);

  >.border {
    -fx-stroke: $color-border;
    -fx-stroke-width: cfg.$border-width;
    -fx-fill: $color-bg;
  }

  >.content {
    -fx-padding: $padding-y $padding-x $padding-y $padding-x;

    >.title {
      -fx-padding: 0 0 1em 0;

      >.text {
        -fx-text-fill: $color-fg;
        -fx-font-size: cfg.$font-title-4;
        -fx-alignment: CENTER_LEFT;
      }

      >.icon {
        >.graphics {
          >.circle {
            -fx-fill: transparent;
          }

          >.line {
            -fx-stroke: $color-fg;
            -fx-stroke-width: cfg.$border-width;
          }
        }
      }
    }
  }
}
