// SPDX-License-Identifier: MIT

@use "../settings/config" as cfg;

$thickness: 1.3333 !default;

.radio-button {

  // applied to label
  -fx-background-color: -color-bg-default;
  -fx-text-fill: -color-fg-default;
  -fx-label-padding: cfg.$checkbox-label-padding cfg.$checkbox-label-padding 0 cfg.$graphic-gap;

  >.radio {
    -fx-background-color: -color-fg-default, -color-bg-default;
    -fx-background-insets: 0, $thickness;
    -fx-background-radius: 1em; // large value to make sure this remains circular
    -fx-padding: cfg.$checkbox-mark-padding-y;
    -fx-alignment: CENTER;

    >.dot {
      -fx-background-color: transparent, transparent;
      -fx-background-insets: 0, 1;
      -fx-background-radius: 1em; // large value to make sure this remains circular
      -fx-min-height: cfg.$checkbox-mark-size;
      -fx-max-height: cfg.$checkbox-mark-size;
      -fx-min-width: cfg.$checkbox-mark-size;
      -fx-max-width: cfg.$checkbox-mark-size;
    }

    &:hover {
      -fx-background-color: -color-fg-muted, -color-bg-subtle;
    }
  }

  &:disabled {
    -fx-opacity: cfg.$opacity-disabled;

    >.radio {
      -fx-opacity: cfg.$opacity-disabled;
    }
  }

  &:selected {
    >.radio {
      -fx-background-color: -color-accent-emphasis;

      >.dot {
        -fx-background-color: -color-accent-emphasis, -color-fg-emphasis;
      }
    }
  }

  &:show-mnemonics>.mnemonic-underline {
    -fx-stroke: -color-fg-default;
  }
}
