// SPDX-License-Identifier: MIT

.accordion-balls-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-danger-emphasis;
}

.bars-equalizer-spin {
  -spin-color-primary: -color-accent-emphasis;
}

.bars-scale-spin {
  -spin-color-primary: -color-accent-emphasis;
}

.chasing-squares-spin {
  -spin-color-primary: -color-accent-emphasis;
}

.clock-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-accent-emphasis;
  -spin-color-tertiary: -color-fg-emphasis;
}

.coffee-cup-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-danger-emphasis;
}

.comet-spin {
  -spin-color-primary: -color-accent-emphasis;
}

.diamond-fill-spin {
  -spin-color-primary: -color-accent-emphasis;
}

.double-arc-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-success-emphasis;
}

.eclipse-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-danger-emphasis;
}

.flip-square-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-danger-emphasis;
}

.four-squares-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-success-emphasis;
}

.gears-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-danger-emphasis;
}

.hourglass-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-warning-emphasis;
}

.inner-arc-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-success-emphasis;
}

.loupe-search-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-accent-emphasis;
}

.merging-balls-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-success-emphasis;
}

.pacman-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-danger-emphasis;
}

.perimeter-ball-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-fg-emphasis;
}

.pie-fill-spin {
  -spin-color-primary: -color-accent-emphasis;

}

.planes-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-danger-emphasis;
  -spin-color-tertiary: -color-success-emphasis;
}

.pulsating-dots-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-accent-emphasis;
}

.puzzle-spin {
  -spin-color-primary: -color-accent-emphasis;
}

.radiating-spin {
  -spin-color-primary: -color-accent-emphasis;
}

.ripple-spin {
  -spin-color-primary: -color-accent-emphasis;
}

.rolling-balls-spin {
  -spin-color-primary: -color-accent-emphasis;
}

.text-dots-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-accent-emphasis;
}

.text-fill-spin {
  -spin-color-primary: -color-accent-emphasis;
}

.text-progress-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-danger-emphasis;
}

.zebra-spin {
  -spin-color-primary: -color-accent-emphasis;
  -spin-color-secondary: -color-bg-subtle;
}
