// SPDX-License-Identifier: MIT

@use "../settings/config" as cfg;
@use "../settings/effects";
@use "../settings/icons";

$color-bg:     -color-bg-default     !default;
$color-fg:     -color-fg-default     !default;
$color-border: -color-border-default !default;

// horizontal tabs (tb, top+bottom)
$color-tb-bg-hover:     -color-bg-subtle      !default;
$color-tb-fg-hover:     -color-fg-default     !default;
$color-tb-border-hover: -color-border-default !default;

$color-tb-bg-selected:     -color-bg-default      !default;
$color-tb-fg-selected:     -color-fg-default      !default;
$color-tb-border-selected: -color-accent-emphasis !default;

// vertical tabs (lr, left+right)
$color-lr-bg-hover:     -color-bg-subtle      !default;
$color-lr-fg-hover:     -color-fg-default     !default;
$color-lr-border-hover: -color-border-default !default;

$color-lr-bg-selected:     if(cfg.$darkMode, -color-base-7, -color-base-1) !default;
$color-lr-fg-selected:     -color-fg-default     !default;
$color-lr-border-selected: -color-border-default !default;

$tab-padding-x: 0.6em !default;
$tab-padding-y: 0.3em !default;

$tab-tb-label-padding-x: 0.4em !default;
$tab-tb-label-padding-y: 0.4em !default;

$tab-lr-label-padding-x: 0.4em !default;
$tab-lr-label-padding-y: 0.2em !default;

$header-border-width: 2px !default;

// floating tabs
$color-float-bg:     -color-bg-inset       !default;
$color-float-border: -color-border-default !default;

$color-float-bg-selected:     -color-bg-default     !default;
$color-float-border-selected: -color-border-default !default;

$tab-float-label-padding-x: 0.55em !default;
$tab-float-label-padding-y: 0.55em !default;

$header-float-border-width: 1px   !default;
$tab-float-spacing:         3px   !default;
$tab-float-width:           150px !default;

.tab-pane {

  >.tab-header-area {
    -fx-background-insets: 0;
    -fx-background-color: $color-bg;
    -fx-alignment: CENTER;

    >.tab-header-background {
      -fx-background-insets: 0 0 0 0, 0 0 $header-border-width 0;
      -fx-background-color: $color-border, $color-bg;
    }

    >.headers-region {
      >.tab {
        -fx-background-insets: 0 0 0 0, 0 0 $header-border-width 0;
        -fx-background-color: transparent, transparent;
        -fx-padding: $tab-padding-y $tab-padding-x $tab-padding-y $tab-padding-x;

        >.tab-container {
          >.tab-label {
            -fx-alignment: CENTER;
            -fx-text-fill: $color-fg;
            -fx-padding: $tab-tb-label-padding-y $tab-tb-label-padding-x $tab-tb-label-padding-y $tab-tb-label-padding-x;

            >* {
              -fx-fill: $color-fg;
              -fx-icon-color: $color-fg;
            }
          }

          >.tab-close-button {
            -fx-background-color: $color-fg;
            -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
            -fx-scale-shape: false;

            &:hover {
              @include effects.highlight($color-fg, 1);
            }
          }
        }

        &:hover {
          -fx-background-color: $color-tb-border-hover, $color-tb-bg-hover;
        }

        &:top:selected,
        &:bottom:selected {
          -fx-background-color: $color-tb-border-selected, $color-tb-bg-selected;

          >.tab-container {
            >.tab-label {
              -fx-fill: $color-tb-fg-selected;
              -fx-text-fill: $color-tb-fg-selected;

              >* {
                -fx-fill: $color-tb-fg-selected;
                -fx-icon-color: $color-tb-fg-selected;
              }
            }

            >.tab-close-button {
              -fx-background-color: $color-tb-fg-selected;
            }
          }
        }

        // order matters, as JavaFX CSS doesn't support not() selector,
        // 'disabled' have to be applied after 'hover' and 'selected'
        &:disabled {
          -fx-background-color: $color-border, $color-bg;

          >.tab-container {
            -fx-opacity: cfg.$opacity-disabled;
          }
        }

        // vertical tabs
        &:left,
        &:right {
          >.tab-container {
            >.tab-label {
              -fx-padding: $tab-lr-label-padding-y $tab-lr-label-padding-x $tab-lr-label-padding-y $tab-lr-label-padding-x;
            }
          }

          &:hover {
            -fx-background-color: $color-lr-border-hover, $color-lr-bg-hover;

            >.tab-container {
              >.tab-label {
                -fx-text-fill: $color-lr-fg-hover;
              }

              >.tab-close-button {
                -fx-background-color: $color-lr-fg-hover;
              }
            }
          }

          &:selected {
            -fx-background-color: $color-lr-border-selected, $color-lr-bg-selected;

            >.tab-container {
              >.tab-label {
                -fx-text-fill: $color-lr-fg-selected;
              }

              >.tab-close-button {
                -fx-background-color: $color-lr-fg-selected;
              }
            }
          }

          // order matters, because JavaFX CSS doesn't support not() selector,
          // 'disabled' have to be applied after 'hover' and 'selected'
          &:disabled {
            -fx-background-color: transparent;
          }
        }
      }
    }

    >.control-buttons-tab>.container {
      >.tab-down-button {
        -fx-padding: 1em;

        &:disabled {
          -fx-opacity: cfg.$opacity-disabled;
        }

        >.arrow {
          @include icons.get("arrow-drop-down", false);
          -fx-background-color: $color-fg;
        }
      }
    }
  }

  // TabPane.STYLE_CLASS_FLOATING
  &.floating {

    >.tab-header-area {
      -fx-background-color: $color-float-border, $color-float-bg;
      -fx-background-insets: 0, 0 0 $header-float-border-width 0;

      // NOTE: Floating TabPane doesn't have '.tab-header-background'.

      >.headers-region {
        >.tab {
          -fx-background-insets: 0;
          -fx-background-color: transparent;
          -fx-padding: $tab-padding-y 0 $tab-padding-y $tab-float-spacing;

          >.tab-container {
            -fx-background-color: transparent;
            -fx-background-insets: 0;
            -fx-background-radius: cfg.$border-radius;
            -fx-border-radius: cfg.$border-radius;
            // an ugly hack to create right padding for the close button
            // sadly, it's not possible other way
            -fx-border-width: cfg.$border-width, 0 3px 0 0;
            -fx-border-color: transparent, transparent;

            >.tab-label {
              -fx-padding: $tab-float-label-padding-y $tab-float-label-padding-x $tab-float-label-padding-y $tab-float-label-padding-x;
              -fx-min-width: $tab-float-width;
              -fx-pref-width: $tab-float-width;
              -fx-alignment: CENTER_LEFT;
            }
          }

          &:hover,
          &:selected {
            >.tab-container {
              -fx-background-color: $color-float-bg-selected;
              -fx-border-color: $color-float-border-selected, transparent;
            }
          }
        }
      }
    }
  }
}