// SPDX-License-Identifier: MIT

@use "../settings/config" as cfg;

$thumb-radius:       10em   !default;
$thumb-padding:      0.85em !default;
$thumb-border-width: 2px    !default;
$thumb-opacity:      0.8    !default;

$thumb-area-radius:  1em    !default;
$thumb-area-padding: 0.85em 1.4em 0.85em 1.4em !default;

.toggle-switch {
  -fx-thumb-move-animation-time: 200;

  >.label-container {
    >.label {
      -fx-font-size: 1em;
      -fx-text-fill: -color-fg-default;
      -fx-padding: cfg.$checkbox-label-padding cfg.$graphic-gap cfg.$checkbox-label-padding 0;
    }
  }

  >.thumb {
    -fx-background-color:-color-border-default, -color-fg-emphasis;
    -fx-background-insets: 0, $thumb-border-width;
    -fx-background-radius: $thumb-radius;
    -fx-padding: $thumb-padding;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-opacity: $thumb-opacity;
  }

  >.thumb-area {
    -fx-background-radius: $thumb-area-radius;
    -fx-background-color: -color-border-default, -color-bg-subtle;
    -fx-background-insets: 0, cfg.$border-width;
    -fx-padding: $thumb-area-padding;
  }

  &:selected {
    >.thumb {
      -fx-background-color: -color-accent-emphasis, -color-fg-emphasis;
      -fx-opacity: 1;
    }

    >.thumb-area {
      -fx-background-color: -color-accent-emphasis;
      -fx-background-insets: 0;
    }
  }

  &:disabled {
    -fx-opacity: cfg.$opacity-disabled;
  }
}
