// SPDX-License-Identifier: MIT

@use "../settings/config" as cfg;
@use "../settings/effects";

$color-bg:     -color-bg-overlay !default;
$color-fg:     -color-fg-default !default;
$color-border: -color-border-default !default;
$opacity:      0.85 !default;

$padding-x: cfg.$padding-x !default;
$padding-y: cfg.$padding-y !default;

.tooltip {
  -fx-background-color: $color-border, $color-bg;
  -fx-background-insets: 0, cfg.$border-width;
  -fx-text-fill: $color-fg;
  -fx-background-radius: cfg.$border-radius;
  -fx-padding: $padding-y $padding-x $padding-y $padding-x;
  -fx-opacity: $opacity;
  @include effects.shadow($color-bg, cfg.$popup-shadow);
}